---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 - Siden finnes ikke">
    <main>
        <div class="mx-auto max-w-screen-md px-4 py-16">
            <h1 class="mb-4 font-heading text-5xl font-bold tracking-wide">
                404 - Siden finnes ikke
            </h1>
            <a href="/" class="underline">Gå til forsiden</a>
        </div>
    </main>
</Layout>
