---
import NavbarElement, { type NavbarElementProps } from "./NavbarElement.astro";

interface Props {
    navActiveUrl?: string;
    navShowLogo?: boolean;
}

const { navActiveUrl = "", navShowLogo = true } = Astro.props;

const navbarElements: NavbarElementProps[] = [
    { href: "/", title: "Forside" },
    { href: "/cv", title: "CV" },
    // {href: "/prosjekter", title: "Prosjekter"}
    // {href: "/blogg", title: "Blogg"}
];

navbarElements.forEach((element) => {
    if (element.href === navActiveUrl) {
        element.active = true;
    }
});
---

<header>
    <nav id="main-nav" class="mx-auto flex max-w-screen-xl p-4">
        {
            navShowLogo && (
                <div>
                    <a href="/">
                        <div
                            aria-hidden="true"
                            class="flex h-9 items-center pb-1"
                        >
                            <svg
                                viewBox="0 0 363.9 55.3"
                                xmlns="http://www.w3.org/2000/svg"
                                width="363.9"
                                height="55.3"
                                class="hidden aspect-[363.9/55.3] h-7 w-auto sm:block"
                            >
                                <path
                                    d="M 11.881 44.99 L 11.881 10.43 L 0.001 10.43 L 0.001 2.99 L 31.441 2.99 L 31.441 10.43 L 19.561 10.43 L 19.561 44.99 L 11.881 44.99 Z M 46.555 45.59 C 43.295 45.59 40.515 44.88 38.215 43.46 C 35.915 42.04 34.16 40.15 32.95 37.79 C 31.74 35.43 31.135 32.85 31.135 30.05 C 31.135 27.23 31.74 24.63 32.95 22.25 C 34.16 19.87 35.915 17.965 38.215 16.535 C 40.515 15.105 43.295 14.39 46.555 14.39 C 49.815 14.39 52.595 15.105 54.895 16.535 C 57.195 17.965 58.95 19.87 60.16 22.25 C 61.37 24.63 61.975 27.23 61.975 30.05 C 61.975 32.85 61.37 35.43 60.16 37.79 C 58.95 40.15 57.195 42.04 54.895 43.46 C 52.595 44.88 49.815 45.59 46.555 45.59 Z M 46.555 39.47 C 49.055 39.47 50.98 38.595 52.33 36.845 C 53.68 35.095 54.355 32.83 54.355 30.05 C 54.355 27.23 53.68 24.935 52.33 23.165 C 50.98 21.395 49.055 20.51 46.555 20.51 C 44.075 20.51 42.155 21.395 40.795 23.165 C 39.435 24.935 38.755 27.23 38.755 30.05 C 38.755 32.83 39.435 35.095 40.795 36.845 C 42.155 38.595 44.075 39.47 46.555 39.47 Z M 84.24 45.59 C 81.96 45.59 79.99 45.22 78.33 44.48 C 76.67 43.74 75.12 42.73 73.68 41.45 L 75.9 39.89 L 75.54 44.99 L 68.58 44.99 L 68.58 -0.01 L 76.02 -0.01 L 76.02 19.97 L 74.22 18.83 C 75.54 17.47 77.015 16.41 78.645 15.65 C 80.275 14.89 82.14 14.51 84.24 14.51 C 87.18 14.51 89.65 15.22 91.65 16.64 C 93.65 18.06 95.165 19.95 96.195 22.31 C 97.225 24.67 97.74 27.25 97.74 30.05 C 97.74 32.85 97.225 35.43 96.195 37.79 C 95.165 40.15 93.65 42.04 91.65 43.46 C 89.65 44.88 87.18 45.59 84.24 45.59 Z M 83.16 39.47 C 84.64 39.47 85.9 39.07 86.94 38.27 C 87.98 37.47 88.77 36.365 89.31 34.955 C 89.85 33.545 90.12 31.91 90.12 30.05 C 90.12 28.19 89.85 26.555 89.31 25.145 C 88.77 23.735 87.98 22.63 86.94 21.83 C 85.9 21.03 84.64 20.63 83.16 20.63 C 81.42 20.63 80 21.03 78.9 21.83 C 77.8 22.63 76.985 23.735 76.455 25.145 C 75.925 26.555 75.66 28.19 75.66 30.05 C 75.66 31.91 75.925 33.545 76.455 34.955 C 76.985 36.365 77.8 37.47 78.9 38.27 C 80 39.07 81.42 39.47 83.16 39.47 Z M 104.399 44.99 L 104.399 14.99 L 111.839 14.99 L 111.839 44.99 L 104.399 44.99 Z M 104.399 10.43 L 104.399 2.99 L 111.839 2.99 L 111.839 10.43 L 104.399 10.43 Z M 126.778 45.59 C 125.178 45.59 123.718 45.235 122.398 44.525 C 121.078 43.815 120.028 42.79 119.248 41.45 C 118.468 40.11 118.078 38.49 118.078 36.59 C 118.078 34.89 118.473 33.435 119.263 32.225 C 120.053 31.015 121.093 30.005 122.383 29.195 C 123.673 28.385 125.073 27.745 126.583 27.275 C 128.093 26.805 129.583 26.46 131.053 26.24 C 132.523 26.02 133.818 25.89 134.938 25.85 C 134.858 24.13 134.418 22.88 133.618 22.1 C 132.818 21.32 131.458 20.93 129.538 20.93 C 128.198 20.93 126.893 21.115 125.623 21.485 C 124.353 21.855 122.918 22.43 121.318 23.21 L 120.658 17.15 C 122.458 16.27 124.263 15.61 126.073 15.17 C 127.883 14.73 129.718 14.51 131.578 14.51 C 133.818 14.51 135.748 14.91 137.368 15.71 C 138.988 16.51 140.238 17.795 141.118 19.565 C 141.998 21.335 142.438 23.67 142.438 26.57 L 142.438 34.67 C 142.438 36.17 142.508 37.255 142.648 37.925 C 142.788 38.595 143.048 39.02 143.428 39.2 C 143.808 39.38 144.358 39.47 145.078 39.47 L 146.038 39.47 L 145.378 45.59 L 142.678 45.59 C 141.558 45.59 140.563 45.445 139.693 45.155 C 138.823 44.865 138.078 44.46 137.458 43.94 C 136.838 43.42 136.338 42.81 135.958 42.11 C 134.978 43.21 133.653 44.065 131.983 44.675 C 130.313 45.285 128.578 45.59 126.778 45.59 Z M 129.898 39.89 C 130.558 39.89 131.378 39.715 132.358 39.365 C 133.338 39.015 134.218 38.47 134.998 37.73 L 134.998 30.89 C 133.598 30.95 132.198 31.18 130.798 31.58 C 129.398 31.98 128.228 32.57 127.288 33.35 C 126.348 34.13 125.878 35.11 125.878 36.29 C 125.878 37.51 126.198 38.415 126.838 39.005 C 127.478 39.595 128.498 39.89 129.898 39.89 Z M 160.199 45.59 C 158.219 45.59 156.434 45.4 154.844 45.02 C 153.254 44.64 151.659 44.09 150.059 43.37 L 150.719 37.01 C 152.259 37.91 153.774 38.635 155.264 39.185 C 156.754 39.735 158.319 40.01 159.959 40.01 C 161.439 40.01 162.569 39.77 163.349 39.29 C 164.129 38.81 164.519 38.05 164.519 37.01 C 164.519 36.23 164.314 35.59 163.904 35.09 C 163.494 34.59 162.879 34.14 162.059 33.74 C 161.239 33.34 160.219 32.91 158.999 32.45 C 157.159 31.77 155.594 31.03 154.304 30.23 C 153.014 29.43 152.034 28.465 151.364 27.335 C 150.694 26.205 150.359 24.81 150.359 23.15 C 150.359 21.43 150.809 19.91 151.709 18.59 C 152.609 17.27 153.889 16.24 155.549 15.5 C 157.209 14.76 159.179 14.39 161.459 14.39 C 163.359 14.39 165.064 14.6 166.574 15.02 C 168.084 15.44 169.479 16.01 170.759 16.73 L 170.099 23.09 C 168.759 22.15 167.409 21.375 166.049 20.765 C 164.689 20.155 163.199 19.85 161.579 19.85 C 160.299 19.85 159.309 20.11 158.609 20.63 C 157.909 21.15 157.559 21.89 157.559 22.85 C 157.559 24.01 158.049 24.88 159.029 25.46 C 160.009 26.04 161.579 26.75 163.739 27.59 C 165.139 28.13 166.354 28.69 167.384 29.27 C 168.414 29.85 169.269 30.49 169.949 31.19 C 170.629 31.89 171.134 32.685 171.464 33.575 C 171.794 34.465 171.959 35.49 171.959 36.65 C 171.959 38.55 171.504 40.165 170.594 41.495 C 169.684 42.825 168.354 43.84 166.604 44.54 C 164.854 45.24 162.719 45.59 160.199 45.59 Z M 190.495 55.31 L 189.835 48.71 C 191.555 48.71 192.795 48.345 193.555 47.615 C 194.315 46.885 194.695 45.53 194.695 43.55 L 194.695 2.99 L 202.375 2.99 L 202.375 45.23 C 202.375 48.89 201.505 51.485 199.765 53.015 C 198.025 54.545 195.655 55.31 192.655 55.31 L 190.495 55.31 Z M 225.597 45.59 C 221.977 45.59 218.962 44.865 216.552 43.415 C 214.142 41.965 212.337 40.045 211.137 37.655 C 209.937 35.265 209.337 32.65 209.337 29.81 C 209.337 27.07 209.902 24.54 211.032 22.22 C 212.162 19.9 213.817 18.035 215.997 16.625 C 218.177 15.215 220.837 14.51 223.977 14.51 C 226.857 14.51 229.257 15.1 231.177 16.28 C 233.097 17.46 234.537 19.035 235.497 21.005 C 236.457 22.975 236.937 25.15 236.937 27.53 C 236.937 28.19 236.897 28.855 236.817 29.525 C 236.737 30.195 236.617 30.89 236.457 31.61 L 217.077 31.61 C 217.357 33.47 217.942 34.975 218.832 36.125 C 219.722 37.275 220.812 38.12 222.102 38.66 C 223.392 39.2 224.777 39.47 226.257 39.47 C 227.997 39.47 229.617 39.245 231.117 38.795 C 232.617 38.345 233.997 37.75 235.257 37.01 L 235.617 43.31 C 234.477 43.91 233.057 44.44 231.357 44.9 C 229.657 45.36 227.737 45.59 225.597 45.59 Z M 217.257 26.57 L 229.377 26.57 C 229.377 25.67 229.207 24.765 228.867 23.855 C 228.527 22.945 227.962 22.18 227.172 21.56 C 226.382 20.94 225.317 20.63 223.977 20.63 C 222.057 20.63 220.547 21.19 219.447 22.31 C 218.347 23.43 217.617 24.85 217.257 26.57 Z M 243.538 44.99 L 243.538 14.99 L 250.498 14.99 L 250.798 20.57 L 249.058 18.29 C 250.198 17.33 251.558 16.46 253.138 15.68 C 254.718 14.9 256.558 14.51 258.658 14.51 C 262.498 14.51 265.348 15.785 267.208 18.335 C 269.068 20.885 269.998 24.19 269.998 28.25 L 269.998 44.99 L 262.558 44.99 L 262.558 28.85 C 262.558 26.05 262.093 23.98 261.163 22.64 C 260.233 21.3 258.718 20.63 256.618 20.63 C 254.918 20.63 253.528 21.045 252.448 21.875 C 251.368 22.705 250.418 23.81 249.598 25.19 L 250.978 21.53 L 250.978 44.99 L 243.538 44.99 Z M 286.678 45.59 C 284.698 45.59 282.913 45.4 281.323 45.02 C 279.733 44.64 278.138 44.09 276.538 43.37 L 277.198 37.01 C 278.738 37.91 280.253 38.635 281.743 39.185 C 283.233 39.735 284.798 40.01 286.438 40.01 C 287.918 40.01 289.048 39.77 289.828 39.29 C 290.608 38.81 290.998 38.05 290.998 37.01 C 290.998 36.23 290.793 35.59 290.383 35.09 C 289.973 34.59 289.358 34.14 288.538 33.74 C 287.718 33.34 286.698 32.91 285.478 32.45 C 283.638 31.77 282.073 31.03 280.783 30.23 C 279.493 29.43 278.513 28.465 277.843 27.335 C 277.173 26.205 276.838 24.81 276.838 23.15 C 276.838 21.43 277.288 19.91 278.188 18.59 C 279.088 17.27 280.368 16.24 282.028 15.5 C 283.688 14.76 285.658 14.39 287.938 14.39 C 289.838 14.39 291.543 14.6 293.053 15.02 C 294.563 15.44 295.958 16.01 297.238 16.73 L 296.578 23.09 C 295.238 22.15 293.888 21.375 292.528 20.765 C 291.168 20.155 289.678 19.85 288.058 19.85 C 286.778 19.85 285.788 20.11 285.088 20.63 C 284.388 21.15 284.038 21.89 284.038 22.85 C 284.038 24.01 284.528 24.88 285.508 25.46 C 286.488 26.04 288.058 26.75 290.218 27.59 C 291.618 28.13 292.833 28.69 293.863 29.27 C 294.893 29.85 295.748 30.49 296.428 31.19 C 297.108 31.89 297.613 32.685 297.943 33.575 C 298.273 34.465 298.438 35.49 298.438 36.65 C 298.438 38.55 297.983 40.165 297.073 41.495 C 296.163 42.825 294.833 43.84 293.083 44.54 C 291.333 45.24 289.198 45.59 286.678 45.59 Z M 319.497 45.59 C 315.877 45.59 312.862 44.865 310.452 43.415 C 308.042 41.965 306.237 40.045 305.037 37.655 C 303.837 35.265 303.237 32.65 303.237 29.81 C 303.237 27.07 303.802 24.54 304.932 22.22 C 306.062 19.9 307.717 18.035 309.897 16.625 C 312.077 15.215 314.737 14.51 317.877 14.51 C 320.757 14.51 323.157 15.1 325.077 16.28 C 326.997 17.46 328.437 19.035 329.397 21.005 C 330.357 22.975 330.837 25.15 330.837 27.53 C 330.837 28.19 330.797 28.855 330.717 29.525 C 330.637 30.195 330.517 30.89 330.357 31.61 L 310.977 31.61 C 311.257 33.47 311.842 34.975 312.732 36.125 C 313.622 37.275 314.712 38.12 316.002 38.66 C 317.292 39.2 318.677 39.47 320.157 39.47 C 321.897 39.47 323.517 39.245 325.017 38.795 C 326.517 38.345 327.897 37.75 329.157 37.01 L 329.517 43.31 C 328.377 43.91 326.957 44.44 325.257 44.9 C 323.557 45.36 321.637 45.59 319.497 45.59 Z M 311.157 26.57 L 323.277 26.57 C 323.277 25.67 323.107 24.765 322.767 23.855 C 322.427 22.945 321.862 22.18 321.072 21.56 C 320.282 20.94 319.217 20.63 317.877 20.63 C 315.957 20.63 314.447 21.19 313.347 22.31 C 312.247 23.43 311.517 24.85 311.157 26.57 Z M 337.439 44.99 L 337.439 14.99 L 344.399 14.99 L 344.699 20.57 L 342.959 18.29 C 344.099 17.33 345.459 16.46 347.039 15.68 C 348.619 14.9 350.459 14.51 352.559 14.51 C 356.399 14.51 359.249 15.785 361.109 18.335 C 362.969 20.885 363.899 24.19 363.899 28.25 L 363.899 44.99 L 356.459 44.99 L 356.459 28.85 C 356.459 26.05 355.994 23.98 355.064 22.64 C 354.134 21.3 352.619 20.63 350.519 20.63 C 348.819 20.63 347.429 21.045 346.349 21.875 C 345.269 22.705 344.319 23.81 343.499 25.19 L 344.879 21.53 L 344.879 44.99 L 337.439 44.99 Z"
                                    class="fill-primary"
                                />
                            </svg>
                            <svg
                                viewBox="0 0 108.5 55.3"
                                xmlns="http://www.w3.org/2000/svg"
                                width="108.5"
                                height="55.3"
                                class="aspect-[108.5/55.3] h-7 w-auto sm:hidden"
                            >
                                <path
                                    d="M 11.88 45 L 11.88 10.44 L 0 10.44 L 0 3 L 31.44 3 L 31.44 10.44 L 19.56 10.44 L 19.56 45 L 11.88 45 Z M 45.754 45.6 C 42.494 45.6 39.714 44.89 37.414 43.47 C 35.114 42.05 33.359 40.16 32.149 37.8 C 30.939 35.44 30.334 32.86 30.334 30.06 C 30.334 27.24 30.939 24.64 32.149 22.26 C 33.359 19.88 35.114 17.975 37.414 16.545 C 39.714 15.115 42.494 14.4 45.754 14.4 C 49.014 14.4 51.794 15.115 54.094 16.545 C 56.394 17.975 58.149 19.88 59.359 22.26 C 60.569 24.64 61.174 27.24 61.174 30.06 C 61.174 32.86 60.569 35.44 59.359 37.8 C 58.149 40.16 56.394 42.05 54.094 43.47 C 51.794 44.89 49.014 45.6 45.754 45.6 Z M 45.754 39.48 C 48.254 39.48 50.179 38.605 51.529 36.855 C 52.879 35.105 53.554 32.84 53.554 30.06 C 53.554 27.24 52.879 24.945 51.529 23.175 C 50.179 21.405 48.254 20.52 45.754 20.52 C 43.274 20.52 41.354 21.405 39.994 23.175 C 38.634 24.945 37.954 27.24 37.954 30.06 C 37.954 32.84 38.634 35.105 39.994 36.855 C 41.354 38.605 43.274 39.48 45.754 39.48 Z M 62.835 55.32 L 62.175 48.72 C 63.895 48.72 65.135 48.355 65.895 47.625 C 66.655 46.895 67.035 45.54 67.035 43.56 L 67.035 3 L 74.715 3 L 74.715 45.24 C 74.715 48.9 73.845 51.495 72.105 53.025 C 70.365 54.555 67.995 55.32 64.995 55.32 L 62.835 55.32 Z M 97.134 45.6 C 93.514 45.6 90.499 44.875 88.089 43.425 C 85.679 41.975 83.874 40.055 82.674 37.665 C 81.474 35.275 80.874 32.66 80.874 29.82 C 80.874 27.08 81.439 24.55 82.569 22.23 C 83.699 19.91 85.354 18.045 87.534 16.635 C 89.714 15.225 92.374 14.52 95.514 14.52 C 98.394 14.52 100.794 15.11 102.714 16.29 C 104.634 17.47 106.074 19.045 107.034 21.015 C 107.994 22.985 108.474 25.16 108.474 27.54 C 108.474 28.2 108.434 28.865 108.354 29.535 C 108.274 30.205 108.154 30.9 107.994 31.62 L 88.614 31.62 C 88.894 33.48 89.479 34.985 90.369 36.135 C 91.259 37.285 92.349 38.13 93.639 38.67 C 94.929 39.21 96.314 39.48 97.794 39.48 C 99.534 39.48 101.154 39.255 102.654 38.805 C 104.154 38.355 105.534 37.76 106.794 37.02 L 107.154 43.32 C 106.014 43.92 104.594 44.45 102.894 44.91 C 101.194 45.37 99.274 45.6 97.134 45.6 Z M 88.794 26.58 L 100.914 26.58 C 100.914 25.68 100.744 24.775 100.404 23.865 C 100.064 22.955 99.499 22.19 98.709 21.57 C 97.919 20.95 96.854 20.64 95.514 20.64 C 93.594 20.64 92.084 21.2 90.984 22.32 C 89.884 23.44 89.154 24.86 88.794 26.58 Z"
                                    class="fill-primary"
                                />
                            </svg>
                        </div>
                        <p class="sr-only">Tobias Jensen</p>
                    </a>
                </div>
            )
        }
        <div class="ml-auto h-9">
            <div class="">
                <ul class="flex flex-row items-center gap-4" id="main-nav-menu">
                    {navbarElements.map((data) => <NavbarElement {...data} />)}
                </ul>
            </div>
        </div>
    </nav>
    <slot />
</header>
