---
import Header from "../components/Header.astro";

interface Props {
    title: string;
    navActiveUrl?: string;
    navShowLogo?: boolean;
}

const { title, navActiveUrl = "", navShowLogo = true } = Astro.props;
---

<!doctype html>
<html dir="ltr" lang="nb">
    <head>
        <meta charset="UTF-8" />
        <title>{title}</title>
        <meta name="robots" content="none" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Inter:opsz,wght@14..32,400..700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-background font-main text-primary">
        <Header {navActiveUrl} {navShowLogo}>
            <slot name="header" />
        </Header>
        <slot />
    </body>
</html>
